html{
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
    
}
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
}
body{
    font-family: 'Lato', sans-serif;
    background-image: url("../images/waluty.jpg");
    background-size: cover;
}
.header__title{
    text-align: center;
    font-weight: 700;
    color: crimson;

}
.footer{
    text-align: center;
    background-color: hsl(348, 83%, 80%);
    padding: 15px 0;
    color: white;
    margin: 10px 0;
    letter-spacing: 3px;
    border-radius: 0 0 20px 20px;
}